*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
:root {
    --azul: #007bbd;
    --blanco: rgb(253, 243, 229);
    --gris: rgb(99, 95, 95);
    --azulClaro: #4aa2d1;
}
.contenedor{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--blanco);
    margin: 0;
    padding: 0;
    width: 100%;
}

/* centro -------------------- centro*/
/* nav -------------------- nav */

#navegador{
    background: var(--azul);
    border-bottom: 3px solid var(--azulClaro);
}

#n2{
    padding: 0;
}
#n2 h1{
    font-size: 7rem;
}

#n3 h3{
    font-size: 3.3rem;
    color: aqua;
}
#img1{
    max-width: 90px;
    height: auto;
    margin-top: 5px;
}

/* boton -------------------- boton*/
#btn1{
    padding: 0 0;
}

.btn-group{
    width: 100%;
    padding: 0;
    background: #007bbd;
    border-radius: 0;
    border: 1px solid var(--azulClaro);
}
#abtn{
    color: white;
    border: 1px solid var(--azulClaro);
}
.dropdown-menu{
    width: 100%;
    background: var(--azul);
}
.dropdown-menu a{
    border-bottom: 1px solid var(--azulClaro);
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.dropdown-menu i{
    color: white;
    display: flex;
    flex-direction: row;
}
.dropdown-menu p{
    margin: auto 10px;
}
.dropdown-item:hover{
    background: var(--azulClaro);
}


/* article -------------------- article */

#centro{
    flex: 1;
    display: flex;
    padding: 0;
}
.row {
    display: flex;
    width: 100%;
    margin: 0;
}
#barraLateral{
    width: 250px;
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
}
.menu{
    display: flex;
    flex-direction: column;
}
.menu a{
    text-decoration: none;
}
.menu  i{
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    padding: 15px 25px;
    border-bottom: 1px solid var(--azulClaro);
}
.menu i p{
    margin: 0px 10px;
}
i:hover{
    cursor: pointer;
    background: var(--azulClaro);
}
/* tabla -------------------- tabla*/
#contenidoTabla{
    flex: 1;
    padding: 20px;
}
#titulo{
    border-bottom: 2px solid black;
    margin: 30px auto 20px auto;
    display: flex;
    align-items: center;
    padding: 0px 40px;
    width: 95%;
}
#titulo h2{
    font-size: 50px;
}
#ttbtn{
    display: flex;
    justify-content: flex-end;
}
#titulo button{
    width: 70px;
    height: 40px;
    border-radius: 10px;
    background: var(--azul);
    color: white;
    border: 2px solid var(--azulClaro);
    margin-left: 15px;
}
#titulo button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#cont1{
    background: rgb(216, 204, 186);
    border-radius: 15px;
    margin: 40px auto 20px auto;
    padding: 20px;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
}
#tituloho{
    padding: 20px;
    width: 90%;
    height: auto;
    background:  var(--azul);
    border: 5px solid var(--azulClaro);
    border-radius: 20px;
    text-align: center;
}
#tituloho h2{
    color: white;
    font-size: 40px;
}
#imghorario{
    width: 90%;
    display: flex;
    justify-content: center;
}
#imghorario img{
    margin-top: 20px;
    width: 90%;
    height: auto;
}
#imghorario img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#descripcion{
    margin-top: 50px;
    width: 90%;
}
/* footer -------------------- footer */

#pie{
    background-image: url("../css/gris\ fondo.jpg");
    height: 130px;
}
#n4 h2{
    color: white;
    font-size: 45px;
}
#n5 a{
    color: white;
    font-size: 20px;
}
#n6 a{
    color: white;
    font-size: 20px;
}
#n7 a{
    color: white;
    font-size: 20px;
}
#n8 a{
    color: white;
    font-size: 20px;
}
#n9 a{
    color: white;
    font-size: 20px;
}

@media (min-width: 100px) and (max-width: 414px) {
    #n2 h1 {
        font-size: 3.5rem; 
        margin: 0 auto;
    }

    #n3 h3 {
        font-size: 1.1rem;
        margin-bottom: 15px;
    }
    #n1{
        display: flex;
        justify-content: center;
    }
    #img1{
        margin-top: 15px;
        max-width: 60px;
        height: auto;
    }

    /* PARTE2 -------------------- PARTE2 */
    #cont1{
        background: rgb(216, 204, 186);
        width: 100%;
        padding: 20px 5px;
    }
    #titulo{
        border-bottom: 2px solid black;
        margin: 30px auto 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px 40px;
        width: 95%;
    }
    #titulo h2{
        font-size: 32px;
        margin-bottom: 20px;
    }
    #ttbtn{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    #titulo button{
        width: 100px;
        height: 30px;
        border-radius: 10px;
        background: var(--azul);
        color: white;
        border: 2px solid var(--azulClaro);
    }
    #titulo button:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #tituloho h2{
        color: white;
        font-size: 25px;
    }
    #imghorario{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #imghorario img{
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
    #imghorario img:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #descripcion{
        margin-top: 50px;
        width: 90%;
    }
    /* PARTE2 -------------------- PARTE2 */

    #pie{
        height: 200px;
    }
    #n4 h2{
        color: white;
        font-size: 2rem;
    }
    #n5 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    #n6 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    #n7 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    #n8 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    #n9 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
}

@media (min-width: 415px) and (max-width: 575px) {
    #n2 h1 {
        font-size: 4.4rem; 
        margin: 0 auto;
    }

    #n3 h3 {
        font-size: 1.3rem;
        margin-bottom: 15px;
    }
    #n1{
        display: flex;
        justify-content: center;
    }
    #img1{
        margin-top: 15px;
        max-width: 70px;
        height: auto;
    }
    /* PARTE2 -------------------- PARTE2 */
    #cont1{
        background: rgb(216, 204, 186);
        width: 100%;
        padding: 20px 5px;
    }
    #titulo{
        border-bottom: 2px solid black;
        margin: 30px auto 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px 40px;
        width: 95%;
    }
    #titulo h2{
        font-size: 32px;
        margin-bottom: 20px;
    }
    #ttbtn{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    #titulo button{
        width: 100px;
        height: 30px;
        border-radius: 10px;
        background: var(--azul);
        color: white;
        border: 2px solid var(--azulClaro);
    }
    #titulo button:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #tituloho h2{
        color: white;
        font-size: 25px;
    }
    #imghorario{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #imghorario img{
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
    #imghorario img:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #descripcion{
        margin-top: 50px;
        width: 90%;
    }

 


    /* PARTE2 -------------------- PARTE2 */
    
    #pie{
        height: 160px;
    }
    #n4 h2{
        color: white;
        font-size: 2rem;
    }
    #n5 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    #n6 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    #n7 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    #n8 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    #n9 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    #n2 h1 {
        font-size: 4.4rem; 
        margin: 0 auto;
    }

    #n3 h3 {
        font-size: 1.3rem;
        margin-bottom: 15px;
    }
    #n1{
        display: flex;
        justify-content: center;
    }
    #img1{
        margin-top: 15px;
        max-width: 70px;
        height: auto;
    }
    /* PARTE2 -------------------- PARTE2 */
    #cont1{
        background: rgb(216, 204, 186);
        width: 100%;
        padding: 20px 5px;
    }
    #titulo{
        border-bottom: 2px solid black;
        margin: 30px auto 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px 40px;
        width: 95%;
    }
    #titulo h2{
        font-size: 32px;
        margin-bottom: 20px;
    }
    #ttbtn{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    #titulo button{
        width: 100px;
        height: 30px;
        border-radius: 10px;
        background: var(--azul);
        color: white;
        border: 2px solid var(--azulClaro);
    }
    #titulo button:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #tituloho h2{
        color: white;
        font-size: 25px;
    }
    #imghorario{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #imghorario img{
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
    #imghorario img:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #descripcion{
        margin-top: 50px;
        width: 90%;
    }
    /* PARTE2 -------------------- PARTE2 */
    
    #pie{
        height: 200px;
    }
    #n4 h2{
        color: white;
        font-size: 2rem;
    }
    #n5 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    #n6 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    #n7 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    #n8 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    #n9 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #n2 h1 {
        font-size: 5.4rem; 
        margin: 0 20px;
    }

    #n3 h3 {
        font-size: 1.7rem;
        margin-bottom: 15px;
    }
    #img1{
        margin-top: 15px;
        max-width: 70px;
        height: auto;
    }
    /* PARTE2 -------------------- PARTE2 */
    #cont1{
        background: rgb(216, 204, 186);
        width: 100%;
        padding: 20px 5px;
    }
    #titulo{
        border-bottom: 2px solid black;
        margin: 30px auto 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 40px;
        width: 95%;
        text-align: center;
    }
    #titulo h2{
        font-size: 32px;
        margin-bottom: 20px;
    }
    #ttbtn{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    #titulo button{
        width: 100px;
        height: 30px;
        border-radius: 10px;
        background: var(--azul);
        color: white;
        border: 2px solid var(--azulClaro);
    }
    #titulo button:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #tituloho h2{
        color: white;
        font-size: 25px;
    }
    #imghorario{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #imghorario img{
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
    #imghorario img:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #descripcion{
        margin-top: 50px;
        width: 90%;
    }
    /* PARTE2 -------------------- PARTE2 */
    #pie{
        height: 220px;
    }
    #n4 h2{
        color: white;
        font-size: 2.8rem;
    }
    #n5 a{
        color: white;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    #n6 a{
        color: white;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    #n7 a{
        color: white;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    #n8 a{
        color: white;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    #n9 a{
        color: white;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    #n2 h1 {
        font-size: 3.7rem; 
    }

    #n3 h3 {
        font-size: 1.8rem;
    }
    #n1{
        display: flex;
        justify-content: end;
    }
    #img1{
        margin-top: 15px;
        margin-bottom: 15px;
        max-width: 55px;
        height: auto;
    }
    /* PARTE2 -------------------- PARTE2 */
    #cont1{
        background: rgb(216, 204, 186);
        width: 100%;
        padding: 20px 5px;
    }
    #titulo{
        border-bottom: 2px solid black;
        margin: 30px auto 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 40px;
        width: 95%;
        text-align: center;
    }
    #titulo h2{
        font-size: 45px;
        margin-bottom: 20px;
    }
    #ttbtn{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    #titulo button{
        width: 110px;
        height: 40px;
        border-radius: 10px;
        background: var(--azul);
        color: white;
        border: 2px solid var(--azulClaro);
    }
    #titulo button:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #tituloho h2{
        color: white;
        font-size: 45px;
    }
    #imghorario{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #imghorario img{
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
    #imghorario img:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #descripcion{
        margin-top: 50px;
        width: 90%;
    }
    /* PARTE2 -------------------- PARTE2 */
    #pie{
        height: 220px;
    }
    #n4 h2{
        color: white;
        font-size: 2.8rem;
    }
    #n5 a{
        color: white;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    #n6 a{
        color: white;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    #n7 a{
        color: white;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    #n8 a{
        color: white;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    #n9 a{
        color: white;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px){
    #n2 h1 {
        font-size: 4.9rem; 
    }

    #n3 h3 {
        font-size: 2.1rem;
    }
    #n1{
        display: flex;
        justify-content: end;
    }
    #img1{
        margin-top: 15px;
        margin-bottom: 15px;
        max-width: 70px;
        height: auto;
    }
    
    #pie{
        height: 130px;
    }
    #n4 h2{
        color: white;
        font-size: 2.4rem;
    }
    #n5 a{
        color: white;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    #n6 a{
        color: white;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    #n7 a{
        color: white;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    #n8 a{
        color: white;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    #n9 a{
        color: white;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }

}
@media (min-width: 1400px) and (max-width: 1775px){
    #n2 h1 {
        font-size: 5.6rem; 
    }

    #n3 h3 {
        font-size: 2.4rem;
    }
    #n1{
        display: flex;
        justify-content: end;
    }
    #img1{
        margin-top: 15px;
        margin-bottom: 15px;
        max-width: 75px;
        height: auto;
    }
}